.paragraph {
	width: 340px;
}

.input_header {
	margin-bottom: 20px;
	color: #3cf;
	line-height: 30px;

}

.omnes_h1 {
	color: #F16251;
	font-size: 42pt;
	margin-top: 50px;
	margin-bottom: 40px;
	line-height: 60px;
}

input:focus {
	border: 3px solid black;
	border-radius: 4px;
	color:black;
	height: 40px;
	font-size: 22pt;

}




body {
  padding: 10px;
  font: 14px Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main{
	margin-top:30px;
	padding:10px;
	text-align:center;
}

.loginBox{
	padding:10px;
	text-align:right;
}

#time{

	font-size:1.4em;
	font-weight:bold;
	color: #F16251;
}

#time.red{
	
	padding:5px;
	color:#F16251 !important;
}

section{
	margin-top:20px;
	margin-bottom:10px;
}

span.equal{
	font-size:8em;
	height:170px;
}

input.input_player{
	font-size:8em;	
	width:270px;	
	height:140px;
	margin-top: -10px;
	display: inline;
	font-weight: normal;
	line-height:normal;
	vertical-align: top;
	color: #3cf;
}

footer{
	padding-top:100px;
}

#operations{
	font-size:8em;


}

.msg{
	border-radius: 60px;
	position:fixed;	
	text-align:center;
	padding:20px 25px;
}

.msg-new{
	font-size:2em;
	background: #3cf;
	color:white;
	font-weight: bold;
	padding: 19px 40px 21px 40px;
font-size: 36px;
line-height: 40px;
min-width: 270px;
-webkit-border-radius: 42px;
-moz-border-radius: 42px;
-ms-border-radius: 42px;
-o-border-radius: 42px;
border-radius: 42px;
}

.msg-error{
	font-size:2em;
	background-color:#F16251;
	color:white;
	font-weight: bold;
}

.enter_name {
	border: 3px solid black;
	border-radius: 4px;
	color:black;
	height: 40px;
	font-size: 22pt;

}

.msg-success{
	font-size:2em;
	background-color:#3cf;
	color:white;
	font-weight: bold;
}

.msg-warning{
	font-size:2em;
	background-color:#3cf;
	color: white;
	font-weight: bold;
}

div.results{
	margin-top:50px;
}

div.scores.selected{
	background-color:#3cf;
	color:white;
	font-weight: bold;
}

span.score {
	background-color: #3cf;
	border-radius: 100px;
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.1em;
	border-radius: 100px;
	padding: 2px 4px;
	border: 1px solid gray;
	text-shadow: 0px 1px 0px black;
}